/*
 * Global Layout
 */

 @use 'base';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: base.$background-colour;
}

nav {
  margin-bottom: 115px;
}

.filter-background {
  border-radius: 30px;
  position: fixed;
  top: 60px;
  width: 280px;
  height: 100px;
  background-color: base.$background-colour;
  z-index: 5; /* Ensure it stays behind the filter buttons */
}

.filter-buttons {
  margin-top: -4px;
  display: flex;
  justify-content: center;
  gap: 24px;
  position: fixed;
  top: 1px;
  z-index: 10;
}

.filter-button-price:hover,
.filter-button-favorites:hover {
  cursor: pointer;
  animation: pop 0.3s forwards;
}

.filter-button-price:active,
.filter-button-favorites:active {
  animation: pop 0.3s forwards; /* Add pop animation on click */
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.filter-button-price,
.filter-button-favorites {
  margin-top: 115px;
  width: 73px;
  height: 36px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: base.$box-shadow-small;
}

.product-listings {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.product {
  width: 241px;
  height: 265px;
  border-radius: 15px;
  box-shadow: base.$box-shadow-medium;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: base.$primary-border-color;
  transition: transform 0.1s ease-out; // Fast animation
  will-change: transform; // GPU optimization for smooth transitions
}



.product .product-title {
  @include base.product-title-styles;
}

.product .product-price {
  @include base.product-price-styles;
}

.product img {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  object-fit: cover;
  margin: 0 auto;
}

.product .product-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product .product-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Feathered edge effect */
  border-radius: 15px;
  color: white;
  padding: 0 10px;
  box-sizing: border-box;
}

.product .favorite-icon {
  position: absolute;
  top: 45px;
  right: 25px;
  cursor: pointer;
  transition: transform 0.3s;
}

.product .favorite-icon:hover {
  transform: scale(1.2); /* Grow in size on hover */
}

.back-to-top {
  position: fixed;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  @include base.button-styles;
  display: none; /* Initially hidden */
  transition: transform 0.3s;
}

.chat-button {
  position: fixed;
  bottom: 38px;
  right: 11px;
  width: 56px;
  height: 56px;
  @include base.button-styles;
  transition: transform 0.3s;
}

.background-layer {
  border-radius: 50px;
  position: fixed;
  top: 0;
  width: 95%;
  height: 100%;
  background-color: base.$secondary-background-color;
  z-index: -1;
}

@media (min-width: 439px) {

  .filter-buttons {
    position: fixed; /* Move filter buttons to nav bar */
    margin-top: -4px;
  }

  .product-listings {
    margin-top: 180px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .product {
    margin: 10px;
  }
}

@media (max-width: 439px) {
  .nav {
    .crafthubLogo {
      width: 132px;
      height: 49px;
      margin: 0 auto;
    }
    .menu-button {
      position: absolute;
      right: 11px;
    }
    .user-name {
      position: absolute;
      left: 11px;
      color: white;
    }
  }
}
