@use 'base';

nav {
  position: fixed; /* keeps the header at the top */
  top: 0; /* keeps the header at the top */
  width: 100%;
  height: 100px;
  padding: 5px 5px 5px 70px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between; /* put space between header and menu items */

  background-color: base.$header-colour;
  color: base.$header-text-colour;
  box-shadow: base.$primary-border-color 2px 2px 7px;
}

.crafthubLogo {
  width: 200px;
  height: 75px;
}

/* Menu Styling */
.fa-solid.fa-bars {
  margin-right: 40px;
  font-size: 35px;
}


.fa-solid.fa-bars:hover {
  animation: bounce 0.3s infinite alternate
  }

@keyframes bounce {
  to {transform: scale(1.2);}
}
.menuItems{
  position: fixed; /* display menu overtop of content */
  top: 50px; /* Adjust to match your layout */
  right: 20px; /* Adjust to match your layout */
  background-color: base.$primary-border-color;
  border-radius: 8px;
  padding: 10px;
  display: none; /* Initially hidden */

  :first-child {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    padding-bottom: 3px 2px 10px 3px;
    border: none;
  }

  li:not(:first-child) {
  list-style-type: none;
  font-size: 16px;
  font-family: sans-serif; /* for now */
  padding: 5px 5px 3px 5px;
  margin: 5px 0;
  text-indent: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  li:not(:first-child):hover {
    background-color: base.$header-colour;
    cursor: pointer;
  }
}


/* Login Styling */
.userId {
  border: base.$primary-border-color;
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
  box-shadow: base.$primary-border-color 2px 2px 2px 2px;
}
.loginButton {
  background-color: base.$button-color;
  color: base.$button-text-colour;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  border: none;

}
.loginButton:hover {
  box-shadow: base.$primary-border-color 2px 2px 2px 1px;
}
