<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Listing</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS Styling -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">

  <!-- CSS Styling -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/nav.css">
  <link rel="stylesheet" href="/styles/create-listing.css">


  <!-- JS Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>
<body>
  <!-- Include Partials header -->
  <%- include('partials/_nav') %>
  <h1>Create Listing</h1>
  <form method="POST" action="/create-listing">
    <label>Title</label>
    <textarea id="title" name="title"></textarea>
    <label>Price</label>
    <textarea id="price" name="price"></textarea>
    <label>Description</label>
    <textarea id="description" name="description"></textarea>
    <label>Images</label>
    <textarea id="iamges" name="images"></textarea>
    <input class="publishItem" type="submit" value="Publish">
  </form>
</body>
</html>
