<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/messages.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- <link rel="stylesheet" href="/styles/nav.css" /> -->
</head>

<body>
  <%- include('partials/_nav') %>

  <section id="messaging-container">

    <!-- Sidebar for conversations-->
     <div class="conversation-list">

     </div>

     <!-- Chat Window -->
     <div class="chat-window">
      <form method="POST" action="/messages-api/" id="chat-box">
        <label for="chat-text" class="chat-label">Message...</label>
        <textarea name="text" id="chat-text"></textarea>
        <div class="send-message">
          <button class="chat-submit" type="submit">Send</button>
        </div>
      </form>
     </div>
  </section>
</body>
</html>