@use 'base';

body {
  background-color: base.$background-colour;
  font-family: base.$body-font-family;
  font-size: base.$primary-font-size;
}

.messaging-container {
  display: flex;
  height: 100vh;
}

.conversation-list {
  flex: 1;
  max-width: 300px;
  background-color: base.$secondary-background-color;
  border-right: 1px solid #ccc;
  padding: 10px;

  h3 {
    margin: 0;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    .conversation {
      padding: 10px;
      border: 1px solid transparent;
      cursor: pointer;
      margin-bottom: 5px;
    }

    &.active {
      border-color: rgb(82, 80, 80);
    }
      
    .name {
      font-weight: bold;
    }
  }
}

.chat-window {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: base.$secondary-background-color;
}

